<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">  
  <appenders>  
    <Console name="Console" target="SYSTEM_OUT">  
      <JsonLayout/> <!--使用json格式输出-->
    </Console>  
    
  </appenders>  
  <loggers>
    <logger name="org.springframework" level="error"></logger>
    <logger name="org.mybatis.spring" level="error"></logger>
    <logger name="springfox.documentation" level="error"></logger>


    <root level="INFO">
      <appender-ref ref="Console"/>  
    </root>



  </loggers>  
</configuration>